.advantages__header {
  position: relative;
  margin-bottom: 42px;
}

/*Синий фон для подрезающей маски*/
.advantages__header::after {
  content: "";

  position: absolute;
  bottom: -42px;
  left: 0;

  width: 320px;
  height: 20px;

  background-color: @blue;
}

// подрезающая маска
.header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -40px;
  z-index: 1;

  width: 320px;
  height: 37px;

  background-image: url("../../img/bg-triangle.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.advantages__row--grey {
  background-color: @grey;
}

@media (min-width: 768px) {
  .advantages__row {
    display: flex;
  }

  .advantages__header {
    width: 500px;
    margin: 0 auto;
  }

  .advantages__header::after,
  .advantages__mask {
    display: none;
  }

  .advantages__row--reverse .advantage {
    order: 2;
  }
}
