
.advantage--blue {
  box-sizing: border-box;
  min-height: 193px;
  padding: 40px 20px;

  color: @white;

  background-color: @blue;
}

.advantage--blue .desc {
  color: @white;
}

.advantage__image-wrapper {
  height: 256px;
}

.advantage__image {
  display: block;
}

.advantage__title {
  margin-bottom: 10px;
}

.advantage--grey {
  position: relative;

  padding: 27px 35px;
}

.advantage--grey:not(:last-child)::after {
  content: "";

  position: absolute;
  left: 20px;
  bottom: 0;

  width: 280px;
  height: 2px;

  background-color: @grey-darker;
}

.advantage__number {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 10px;

    width: 10px;
    height: 1px;

    background-color: @white;
  }

  &::before {
    margin-left: -16px;
  }

  &::after {
    margin-left: 6px;
  }
}

.advantage--grey .advantage__number::before,
.advantage--grey .advantage__number::after {
  background-color: @black;
}

@media (min-width: @tablet) {
  .advantage {
    width: 33.33%;
    padding: 40px 45px;
    max-height: 256px;
  }

  .advantage__image-wrapper {
    flex-grow: 1;
  }

  .advantage--grey:not(:last-child)::after {
    display: none;
  }

  .advantage__title {
    width: 120px;
    margin: 0 auto;
    margin-bottom: 10px;

    font-size: 21px;
  }

  .advantage__title--big {
    width: 170px;
  }
}

@media (min-width: @desktop) {
  .advantage__image-wrapper {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .advantage__image-wrapper--city {
    background-image: url("../img/main-city-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/main-city-desktop@2x.jpg");
    }
  }

  .advantage__image-wrapper--bridge {
    background-image: url("../img/main-bridge-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/main-bridge-desktop@2x.jpg");
    }
  }

  .advantage__image {
    display: none;
  }
}
