.advantage--blue {
  color: #ffffff;
  background-color: #81b3d2;
}

.advantage__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.advantage--grey {
  background-color: #eeeeee;
}
