.advantages {
  background-color: @white;
}

.advantages__header {
  position: relative;
  padding: 38px 20px 20px 20px;
  margin: 0 auto;

  width: 100%;
}

.advantages__row--grey {
  background-color: @grey-lighter;
}

.advantages__title {
  margin-bottom: 30px;

  font-size: 21px;
}


.advantages__br {
  display: none;
}

@media (min-width: @tablet) {
  .advantages__row {
    display: flex;
    width: 100%;
  }

  .advantages__header {
    padding-top: 50px;
    padding-bottom: 52px;
    margin: 0 auto;

    width: 550px;

    &::after,
    &::before {
      display: none;
    }
  }

  .advantages__row--reverse .advantage {
    order: 2;
  }

  .advantages__br {
    display: inline;
  }
}
