.advantages {
  background-color: @white;
}

.advantages__header {
  position: relative;
  margin: 0 auto;
  padding: 38px 20px 7px 20px;
  width: 100%;
}

.advantages__row--grey {
  background-color: @grey-lighter;
}

.advantages__title {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 260px;
}

.advantages__desc {
  line-height: 26px;
}

.advantages__br {
  display: none;
}

@media (min-width: @tablet) {
  .advantages__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .advantages__header {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 52px;
    width: 550px;

    &::after,
    &::before {
      display: none;
    }
  }

  .advantages__row--reverse .advantage {
    order: 2;
  }

  .advantages__title {
    width: 100%;
    font-size: 21px;
  }
}

@media (min-width: @tablet) {
  .advantages__header {
    padding-top: 48px;
    padding-bottom: 50px;
  }

  .advantages__title {
    margin-bottom: 27px;
  }
}
