.br-tablet,
.br-desktop,
.br-tablet-only {
  display: none;
}

@media (min-width: @tablet) {
  .br-tablet,
  .br-tablet-only {
    display: inline-block;
  }
}

@media (min-width: @desktop) {
  .br-desktop {
    display: inline-block;
  }

  .br-tablet-only {
    display: none;
  }
}
