.btn {
  width: 280px;

  font: inherit;

  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;

  border: none;
  background-color: #81b3d2;
}

.btn:hover,
.btn:focus {
  background-color: #669ec0;
}

.btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.btn.disabled,
.btn:disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}
