.contacts label {
  display: block;
  margin-bottom: 10px;
  margin-right: auto; //не сдвигает влево
}

.contacts input {
  margin-bottom: 15px;
}

.contacts:nth-last-child(1) input {
  margin-bottom: 50px;
}
