.container {
  width: 320px;
  margin: 0 auto;
  box-shadow:
    40px 0 10px @grey-light,
    -40px 0 10px @grey-light;
}

@media (min-width: @tablet) {
  .container {
    width: 768px;
  }
}

@media (min-width: @desktop) {
  .container {
    width: 1200px;
  }
}
