.copyright__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.copyright__link {
  margin-left: 7px;
}

.copyright__icon {
  padding-top: 5px;

  &:hover,
  &:focus {
    fill: @blue;
  }

  &:active {
    fill: @grey-darkest;
  }
}
