.doubt {
  padding-top: 35px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.doubt__text {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 38px;
}

.doubt__title {
  margin-bottom: 35px;
}

.doubt__desc {
  line-height: 24px;
}

@media (min-width: @tablet) {
  .doubt {
    padding: 60px;
    padding-bottom: 50px;
  }

  .doubt__text {
    width: 420px;
  }
}
