.doubt {
  padding-top: 35px;
  margin: 0 auto;
}

.doubt__title {
  margin-bottom: 35px;
}

.doubt__desc {
  margin-bottom: 38px;

  line-height: 24px;
}

@media (min-width: 768px) {
  .doubt {
    padding: 0 60px;
  }
}
