.fail {
  width: 320px;
  margin: 0 auto;
  padding: 43px 52px 35px 52px;
}

.fail__title {
  margin-bottom: 35px;
}

.fail__desc {
  margin-bottom: 25px;
  line-height: 24px;
}

.fail__btn {
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 180px;

  font-size: 18px;
}
