.features {
  list-style: none;
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 40px;
  margin: 0;
  margin-bottom: 5px;
}

.features__item {
  position: relative;
}

.features__title {
  padding-bottom: 12px;

  text-align: left;
}

.features__desc {
  padding-bottom: 30px;

  text-align: left;
}

.features__item::before {
  content: "";

  position: absolute;
  top: -8px;
  left: -50px;

  width: 40px;
  height: 40px;

  background-position: 0 0;
  background-repeat: no-repeat;
}

.features__item--housing::before {
  background-image: url("../img/icon-house.svg");
}

.features__item--souvenir::before {
  background-image: url("../img/icon-gift.svg");
}

.features__item--food::before {
  background-image: url("../img/icon-burger.svg");
}

@media (min-width: 768px) {
  .features {
    display: flex;
    justify-content: space-between;
  }

  .features__item {
    flex-basis: 255px;
    padding: 60px 50px;
  }

  .features__desc {
    text-align: center;
  }

  .features__title {
    text-align: center;
  }
}
