.field {
  position: relative;

  border: none;
  padding: 0;
  margin: 0;

  //серые полоски
  &:not(:last-of-type)::after {
    content: "";

    position: absolute;
    left: -20px;
    bottom: 0;

    width: 320px;
    height: 1px;

    background-color: @grey;
  }
}

.field__legend {
  width: 100%;
  margin-bottom: 25px;

  text-align: center;
}

.field__list {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;

  list-style: none;
}

.field__item {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 55px;
  padding-left: 78px;
  margin-bottom: 15px;
}

.field__text {
  width: 280px;
  min-height: 58px;
  padding-top: 14px;
  padding-bottom: 18px;
  padding-left: 22px;
  padding-right: 70px;

  font-family: @deafult-font;

  background-color: @input-color;
  border: 2px solid @input-color;

  &:hover {
    background-color: @input-hover;
    border: 2px solid @input-hover;
  }

  &:focus {
    background-color: @white;
    outline: none;
  }

  &::placeholder {
    font-weight: 700;
    color: @black;
  }
}

.field__label {
  text-transform: none;
}

.field__label--regular {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  color: @grey-text;
}

.field__area {
  padding-left: 20px;
  padding-top: 16px;

  width: 100%;
  min-height: 160px;

  background-color: @grey-light;
  border: none;
  resize: none;

  &::placeholder {
    font-weight: 700;
    line-height: 26px;
    color: @black;
  }
}

.field__indicator {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;

  background-color: @radio-color;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: @radio-hover;
  }

  &:active {
    background-color: @radio-active;
  }
}

// отметка в радиокнопке
.field__radio:checked + .field__indicator::before {
  content: "";

  width: 22px;
  height: 22px;

  background-color: @black;
  border-radius: 50%;
}

.field__radio:checked + .field__indicator:active::before {
  background-color: @radio-active;
}

// фон для чекбокса
.field__indicator--checkbox {
  border-radius: 20%;
}

// отметка в чекбоксе
.field__checkbox:checked + .field__indicator::before {
  content: "";

  position: absolute;
  top: 16px;
  left: 16px;
  margin-top: 3px;

  width: 25px;
  height: 20px;

  background-color: transparent;
  background-image: url("../img/icon-tick.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.field__checkbox:checked + .field__indicator:active::before {
  background-image: url("../img/icon-tick-grey.svg");
}

@media (min-width: @tablet) {
  .field::after {
    display: none;
  }

  .field__legend {
    font-size: 21px;
  }

  .field__legend--with-stripe {
    position: relative;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;

      width: 125px;
      height: 1px;

      background-color: @grey-darker;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .field__legend--with-stripe span {
    display: block;
    margin: 0 auto;
    width: 300px;
  }
}

@media (min-width: @desktop) {
  .field__legend--with-stripe {
    &::before,
    &::after {
      width: 280px;
    }
  }
}
