.field {
  border: none;
  padding: 0;
}

.field__list {
  list-style: none;
}

.field__element {
  font: inherit;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.field__element:hover {
  background-color: #e5e5e5;
}

.field__element:focus {
  background-color: #ffffff;
}

.field__label {
  text-transform: none;
}

.field__label--regular {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
