.form {
  width: 100%;
}

.form__person {
  margin-bottom: 21px;
}

.form__person legend {
  margin-bottom: 21px;
}

.form__contacts {
  margin-bottom: 18px;
  padding-bottom: 20px;
}

.form__contacts legend {
  margin-bottom: 19px;
}

.form__impress {
  margin-bottom: 15px;
  padding-bottom: 18px;
}

.form__impress legend {
  margin-bottom: 20px;
}

.form__sights {
  margin-bottom: 20px;
}

.form__sights legend {
  margin-bottom: 15px;
}

.form__emotions {
  display: block;
  margin-bottom: 43px;
}

.form__emotions legend {
  margin-bottom: 20px;
}

.form__btn {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 38px;

  font-size: 21px;
}

.form__explanation {
  display: none;

  font-size: 14px;
  color: @black-light;
  font-weight: 400;
}

@media (min-width: @tablet) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__impress {
    position: relative;
    padding-bottom: 0;
    order: -3;
    width: 50%;

    &::after {
      content: "";

      position: absolute;
      width: 1px;
      height: 292px;

      background-color: @grey-darker;
    }
  }

  .form__person {
    margin-bottom: 48px;

    order: -2;
  }

  .form__impress legend,
  .form__person legend {
    margin-bottom: 60px;

    text-align: left;
  }

  .form__contacts {
    margin-bottom: 30px;
    padding-bottom: 0;

    order: -1;
    width: 100%;
  }

  .form__contacts legend {
    margin-bottom: 22px;
  }

  .form__sights {
    margin-bottom: 35px;
    width: 100%;
  }

  .form__sights legend {
    margin-bottom: 40px;
  }

  .form__emotions {
    margin-bottom: 48px;
    width: 100%;
  }

  .form__emotions legend {
    margin-bottom: 60px;
  }

  .form__btn {
    margin-bottom: 62px;
    width: 50%;
  }

  .form__explanation {
    display: block;
    margin-left: auto;
  }
}

@media (min-width: @desktop) {
  .form__person {
    margin-bottom: 48px;
  }

  .form__impress legend {
    margin-left: 75px;
  }

  .form__contacts legend {
    margin-bottom: 75px;
  }

  .form__sights legend {
    margin-bottom: 40px;
  }

  .form__btn {
    margin-bottom: 65px;
  }
}
