.gallery {
  padding: 0 20px;
}

.gallery__header {
  padding-bottom: 15px;
}

.gallery__title {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .gallery__header {
    width: 430px;
    margin: 0 auto;
  }
}
