.header__title {
  margin-top: 40px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 22px;
}

.header__desc {
  margin-left: 32px;
  margin-right: 32px;

  line-height: 26px;
  font-weight: 400;
}
