@media (min-width: @tablet) {
  .impress {
    position: relative;
  }

  .impress::after {
    content: "";

    position: absolute;
    right: 0;
    top: -80px;

    width: 1px;
    height: 292px;

    background-color: @grey-darker;
  }
}
