.main-nav {
  display: flex;
  flex-direction: column-reverse;
  width: 320px;

  background-color: @blue;
}

.main-nav__wrapper {
  position: relative;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: @tablet - 1px) {
  .main-nav--closed {
    display: none;
  }

  .main-nav--opened {
    display: block;
  }

  .main-nav--nojs {
    display: block;
  }
}

@media (min-width: @tablet) {
  .main-nav {
    width: 768px;
    min-height: 56px;

    background-color: @white;
  }

  .main-nav__list {
    display: flex;
  }
}

@media (min-width: @desktop) {
  .main-nav {
    width: 1200px;
  }
}
