.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;


  width: 200px;
  margin: 0 auto;
}

.page-footer__visit {
  margin: 0;
  padding: 0;
}

.page-footer__link {
  color: @black;
  font-size: 21px;
  line-height: 26px;
}

// .page-footer__link:hover,
// .page-footer__link:focus {
//   color: @blue;
// }

@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .page-footer {
    width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
