.page-footer {
  padding: 35px 0;

  width: 320px;
  margin: 0 auto;
}

.page-footer__visit {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.page-footer__link {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
}

.page-footer__link:hover,
.page-footer__link:focus {
  color: red;
}

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-around;
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .page-footer {
    width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
