.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 37px 80px;


  width: 100%;
  margin: 0 auto;

  background-color: @white;
}

.page-footer__visit {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.page-footer__social {
  margin-bottom: 10px;
}

.page-footer__link {
  color: @black;
  font-size: 21px;
  line-height: 26px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33.33%;
}

@media (min-width: @tablet) {
  .page-footer {
    flex-direction: row;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 55px;

    width: 100%;
  }

  .page-footer__visit,
  .page-footer__social,
  .page-footer__copyright {
    width: 33.33%;
    display: flex;
  }

  .page-footer__visit {
    justify-content: flex-start;
  }

  .page-footer__social {
    justify-content: center;
  }

  .page-footer__copyright {
    justify-content: flex-end;
    margin-bottom: 15px;
  }
}

@media (min-width: @desktop) {
  .page-footer {
    padding-left: 120px;
    padding-right: 115px;
  }
}
