.person__name {
  width: 230px;
  padding-right: 22px;
}

.person__surname {
  width: 192px;
  padding-right: 22px;
}

.person__father-name {
  width: 194px;
  padding-right: 22px;

  margin-bottom: 45px;
}

@media (min-width: 768px) {
  .person {
    margin-bottom: 20px;
  }

  .person__name {
    width: 216px;
    margin-left: auto;
  }

  .person__surname {
    width: 178px;
  }

  .person__father-name {
    width: 180px;
  }
}
