.person__name {
  width: 230px;
  padding-right: 22px;
}

.person__surname {
  width: 192px;
  padding-right: 22px;
}

.person__father-name {
  width: 194px;
  padding-right: 22px;

  margin-bottom: 45px;
}
