.photo__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.photo__item {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

.photo__title {
  font-size: 14px;
  line-height: 24px;
}

.photo__author {
  text-transform: none;
  font-weight: 400;
}

@media (min-width: 768px) {
  .photo__list {
    display: flex;
    flex-wrap: wrap;
  }

  .photo__item--big {
    width: 100%;
  }
}
