.pictures__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pictures__item {
  width: 100%;
}

@media (min-width: @tablet) {
  .pictures__list {
    display: flex;
    flex-wrap: wrap;
  }

  .pictures__item {
    width: 50%;
  }

  .pictures__item:nth-child(3) .post__wrapper {
    background-color: @grey-lighter;
  }

  .pictures__item--big {
    width: 100%;
  }
}

@media (min-width: @desktop) {
  .pictures__item {
    width: 33.33%;
  }

  .pictures__item:nth-child(3) .post__wrapper {
    background-color: @black-transparent30;
  }

  .pictures__item--big {
    width: 100%;
  }
}
