.review {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.review__header {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .review {
    padding: 0 60px;
  }

  .review__header {
    width: 450px;
  }
}

@media (min-width: 1280px) {
  .review {
    padding: 0 120px;
  }
}
