.review {
  padding: 0 20px;
  width: 100%;
  background-color: @white;
}

.review__header {
  position: relative;

  margin: 0 auto;
  margin-bottom: 18px;
  padding-top: 35px;
  padding-bottom: 20px;

  &::after {
    content: "";

    position: absolute;
    left: -20px;
    bottom: 0;

    width: 320px;
    height: 1px;

    background-color: @grey;
  }
}

.review__title {
  margin-bottom: 25px;
}

.review__desc {
  line-height: 24px;
}

@media (min-width: @tablet) {
  .review {
    padding: 0 60px;
  }

  .review__header {
    margin-bottom: 75px;
    padding-top: 75px;
    padding-bottom: 0;
    width: 440px;

    &::after {
      display: none;
    }
  }

  .review__title {
    margin-bottom: 30px;
    font-size: 30px;
  }
}

@media (min-width: @desktop) {
  .review {
    padding: 0 120px;
  }

  .review__header {
    margin-bottom: 60px;
    padding-top: 115px;
  }
}
