.scale__stripe {
  display: flex;
  align-items: center;
  width: 235px;
  height: 3px;

  background-color: @white-transparent20;
}

.scale__btn {
  margin-left: 15%;
  border: none;
  padding: 0;
  height: 9px;
  width: 9px;

  background-color: @white;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    outline: none;
  }
}

@media (min-width: @tablet) {
  .scale__stripe {
    position: relative;
    z-index: 1;
    width: 100%;
  }

  .scale__btn {
    margin-left: 29%;
  }
}

@media (min-width: @desktop) {
  .scale__btn {
    margin-left: 20%;
  }
}
