.search {
  padding: 30px 20px 50px 20px;

  background-color: @white;
}

.search__btn {
  display: block;

  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;

  font-size: 21px;
}

// .search__btn:focus {
//   outline: 5px solid @outline-color;
// }

.search__title {
  margin-bottom: 20px;

  font-size: 21px;
}

.search__desc {
  margin-bottom: 35px;
  line-height: 24px;
}

@media (min-width: @tablet) {
  .search {
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 60px;
  }

  .search__title {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .search__desc {
    width: 460px;
    margin: 0 auto;
    margin-bottom: 42px;
  }

  .search__btn {
    width: 460px;
  }
}

@media (min-width: @desktop) {
  .search {
    padding-bottom: 65px;
  }

  .search__desc {
    margin-bottom: 50px;
  }
}
