.sights {
  display: flex;
}

.sights__item {
  margin-bottom: 25px;
}

@media (min-width: @tablet) {
  .sights {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 97px;
    padding-right: 30px;

    margin: 0 auto;
  }

  .sights__item {
    margin-bottom: 35px;
    width: 50%;
  }
}

@media (min-width: @desktop) {
  .sights {
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;

    width: 100%;
  }

  .sights__item {
    width: 260px;
  }

  .sights__item:nth-child(3) {
    width: 230px;
  }

  .sights__item:last-child {
    width: 210px;
  }
}
