.site-list {
  font-size: 18px;
  line-height: 40px;
  color: @white;
}

.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 56px;

  box-shadow:
    0 1px @white-transparent20,
    0 -1px @black-transparent20;

  &:hover,
  &:focus {
    background-color: @blue-darker;
  }

  &:active {
    background-color: @blue-dark;
  }

  &:last-child {
    background-image: url("../img/shadow.png");
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.site-list__item:active .site-list__link {
  color: @white-transparent30;
}

.site-list__link {
  color: @white;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    margin-top: 8px;
  }
}

@media (min-width: @tablet) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 26px;
  }

  .site-list__item {
    width: 20%;
    box-shadow: none;

    &:hover,
    &:focus,
    &:active {
      background-color: @white;
    }

    &:nth-child(4n+2) {
      margin-right: 20%;
    }

    &:last-child {
      background-image: none;
    }
  }

  .site-list__link {
    color: @black;

    &:hover {
      color: @blue;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      margin-top: 0;
    }
  }

  .site-list__item:active .site-list__link {
    color: @black-transparent30;
  }

  .site-list__link--current {
    color: @brown;

    &:hover {
      color: @brown-dark;
    }

    &:active {
      color: @brown-transparent;
    }
  }
}
