.site-list {
  font-size: 18px;
  line-height: 40px;
  color: @white;
}

.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 56px;

  box-shadow:
    0 -1px rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.2);

  &:hover,
  &:focus {
    background-color: @blue-hover;
  }

  &:active {
    background-color: @blue-active;
  }
}

.site-list__item:active .site-list__link {
  color: rgba(255, 255, 255, 0.3);
}

.site-list__link {
  color: @white;
}

@media (min-width: 768px) {
  .site-list {
    justify-content: space-between;
    padding: 0 50px;

    font-size: 14px;
    line-height: 26px;
  }

  .site-list__link {
    color: @black;
  }

  .site-list__item {
    box-shadow: none;

    &:hover,
    &:focus,
    &:active {
      background-color: @white;
    }
  }

  .site-list__item:hover .site-list__link {
    color: @blue;
  }

  .site-list__item:active .site-list__link {
    color: rgba(0, 0, 0, 0.3);
  }

  // не работает, надо доделать
  .site-list__item:focus .site-list__link {
    color: #766357;
  }
}
