.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  padding: 0;
  width: 155px;

  list-style: none;
}

.social__link {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;

  background-color: @blue;

  fill: @white;

  &:hover,
  &:focus {
    background-color: @blue-darker;
  }

  &:active {
    background-color: @blue-dark;
    fill: @black-transparent30;
  }
}
