.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 151px;

  list-style: none;
}

.social__item {
  margin-left: 6px;
  margin-bottom: 5px;

  &:nth-child(3n+1) {
    margin-left: 0;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;

  fill: @white;
  background-color: @blue;

  &:hover,
  &:focus {
    background-color: @blue-darker;
  }

  &:active {
    background-color: @blue-dark;
    fill: @black-transparent30;
  }
}
