.video__scale {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -52px;

  width: 280px;
  min-height: 45px;

  background-color: @black-transparent60;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    height: 45px;
  }
}

.video__btn {
  display: flex;
  border: 0;
  background-color: transparent;

  &:hover {
    outline: 0;
  }
}

.video__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;

  width: 280px;
  min-height: 66px;

  background-color: @grey-light;
}


.video__icon {
  fill: @grey-icon;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    margin-top: 23px;
  }

  &:hover,
  &:focus {
    fill: @black-light;
  }

  &:active {
    fill: @black-transparent30;
  }
}

.video__btn--subscribes {
  margin-left: 100px;
}

@media (min-width: @tablet) {
  .video {
    position: relative;
  }

  .video__scale {
    position: absolute;
    bottom: 24px;
    left: 93px;

    width: 390px;
    background-color: transparent;
  }

  .video__icons {
    position: relative;

    margin-top: -100px;
    margin-bottom: 6px;
    padding-left: 30px;
    padding-right: 37px;

    min-height: 93px;
    width: 100%;

    background-color: @black-transparent60;
  }

  .video__icon {
    fill: @white;

    &:hover,
    &:focus {
      fill: @white-transparent60;
    }

    &:active {
      fill: @white-transparent30;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      margin-top: 37px;
    }
  }

  .video__btn--subscribes {
    margin-left: 440px;
  }
}

@media (min-width: @desktop) {
  .video {
    margin: 0 auto;
    width: 800px;
  }

  .video__scale {
    width: 540px;
  }

  .video__icons::after {
    width: 540px;
  }

  .video__btn--subscribes {
    margin-left: 590px;
  }
}
