@import "blocks/btn.less";
@import "blocks/main-nav.less";
@import "blocks/site-list.less";
@import "blocks/title.less";
@import "blocks/desc.less";
@import "blocks/promo.less";
@import "blocks/advantage.less";
@import "blocks/advantages.less";
@import "blocks/features.less";
@import "blocks/search.less";
@import "blocks/field.less";
@import "blocks/form.less";
@import "blocks/photo.less";
@import "blocks/page-footer.less";
@import "blocks/social.less";
@import "blocks/copyright.less";
@import "blocks/page-header.less";
@import "blocks/header.less";
@import "blocks/map.less";
@import "blocks/person.less";
@import "blocks/review.less";

@font-face {
  font-weight: normal;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans Bold";
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

// html {
//   box-sizing: border-box;
// }

// *,
// *::before,
// *::after {
//   box-sizing: inherit;
// }

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  width: 320px;
  // padding: 0 20px;
  margin: 0 auto;
}

.contacts label {
  display: block;
  margin-bottom: 10px;
  margin-right: auto; //не сдвигает влево
}

.contacts input {
  margin-bottom: 15px;
}

.contacts:nth-last-child(1) input {
  margin-bottom: 50px;
}

// фон для радиокнопки
.indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 55px;
  height: 55px;

  background-color: #f3f3f3;
  border-radius: 50%;
}

.indicator:hover,
.indicator:focus {
  background-color: #e5e5e5;
}

.indicator:active {
  background-color: #d5d5d5;
}

// отметка в радиокнопке
.field__radio:checked + .indicator::before {
  content: "";

  position: absolute;
  top: 16px;
  left: 16px;

  width: 22px;
  height: 22px;

  background-color: #000000;
  border-radius: 50%;
}

.field__radio:checked + .indicator:active::before {
  background-color: #a4a4a4;
}

// фон для чекбокса
.checkbox-indicator {
  border-radius: 20%;
}

// отметка в чекбоксе
.field__checkbox:checked + .indicator::before {
  content: "";

  position: absolute;
  top: 16px;
  left: 16px;

  width: 25px;
  height: 20px;

  background-color: transparent;
  background-image: url("../img/icon-tick.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.field__checkbox:checked + .indicator:active::before {
  background-image: url("../img/icon-tick-grey.svg");
}


@media (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
