@import "blocks/btn.less";
@import "blocks/main-nav.less";
@import "blocks/site-list.less";
@import "blocks/title.less";
@import "blocks/desc.less";
@import "blocks/promo.less";
@import "blocks/advantage.less";
@import "blocks/advantages.less";
@import "blocks/features.less";
@import "blocks/search.less";
@import "blocks/field.less";
@import "blocks/form.less";
@import "blocks/photo.less";
@import "blocks/page-footer.less";
@import "blocks/social.less";
@import "blocks/copyright.less";
@import "blocks/page-header.less";
@import "blocks/header.less";
@import "blocks/map.less";

body {
  margin: 0;
  padding: 0;
  min-width: 320px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

// html {
//   box-sizing: border-box;
// }

// *,
// *::before,
// *::after {
//   box-sizing: inherit;
// }

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  width: 320px;
  // padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
