@deafult-font: "PT Sans", "Arial", sans-serif;

@white: #ffffff;
@black: #000000;
@blue: #81b3d2;
@blue-hover: #669ec0;
@blue-active: #5496bd;

@grey: #eeeeee; //advantage
@grey-text: #333333;
@grey-light: #f2f2f2; //input, photo
@grey-dark: #e5e5e5; //input-hover, button disabled
@grey-darker: #d5d5d5; //radio active
