@deafult-font: "PT Sans", "Arial", sans-serif;

@tablet: 768px;
@desktop: 1200px;

@white: #ffffff;
@white-transparent: rgba(255, 255, 255, 0.3);
@white-transparent2: rgba(255, 255, 255, 0.2);
@black: #000000;
@black-transparent: rgba(0, 0, 0, 0.3);
@black-transparent2: rgba(0, 0, 0, 0.6);

@blue: #81b3d2;
@blue-darker: #669ec0;
@blue-dark: #5496bd;

@grey-light: #f2f2f2;
@grey-lighter: #eeeeee;
@grey: #e5e5e5;
@grey-darker: #d6d6d6;
@grey-dark: #d5d5d5;
@grey-darkest: #b2b2b2;
@grey-text: #333333;

@btn-color: @blue;
@btn-hover: @blue-darker;
@btn-active: @blue-dark;
@btn-active-text: @white-transparent;
@btn-disabled: @grey;

@social-color: @blue;
@social-hover: @blue-darker;
@social-active: @blue-dark;

@menu-color: @blue;
@menu-hover: @blue-darker;
@menu-active: @blue-dark;

@input-color: @grey-light;
@input-hover: @grey;

@radio-color: @grey-light;
@radio-hover: @grey;
@radio-active: @grey-dark;

@checkbox-color: @grey-light;
@checkbox-hover: @grey;
@checkbox-active: @grey-dark;

@promo-color: @grey;

@post-color-light: @grey-light;
@post-color-dark: @grey-lighter;
@post-color-transparent: @black-transparent;

@video-color: @grey-light;
@video-color-transparent: @black-transparent2;

@video-icon-color: #5c6870;
@video-icon-hover: #333333;
@video-icon-active: @black-transparent;

@video-icon-tablet-color: @white;
@video-icon-tablet-hover: rgba(255, 255, 255, 0.6);
@video-icon-tablet-active: rgba(255, 255, 255, 0.3);
